.text-muted{
    background-image: url('../images/21a1926ddd463659b1b17a75bdb0c6af.png');
    background-position: center;
    background-size: cover;
}

.footerGenres {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    flex-wrap: wrap;
    color: black;
}

.footerGenres-genre {
    padding: 0px 15px 0px 15px;
    margin: 2px;
}
.mt-5{
    max-width: 100%;
}